@model MVC.WebUI.Models.Shared.LanguageListViewModel

@if (Model != null && Model.Languages.Any())
{

    @*IF THE LANGUAGE CODE IS NOT GOING TO BE STORED:*@
    @*<ul>
        @foreach (var lang in Model.Languages)
        {
            if (lang.IsSelected)
            {
                <li lang="@lang.LanguageCode">@lang.Name (@lang.Region)</li>
            }
            else
            {
                <li lang="@lang.LanguageCode"><a href="@lang.Url">@lang.Name (@lang.Region)</a></li>
            }
        }
    </ul>*@

    //BETTER TO SIMPLY HARD-CODE LANGUAGE LIST !!!

    <form method="post">
        <ul>
            @foreach (var lang in Model.Languages)
            {
                if (lang.IsSelected)
                {
                    <li lang="@lang.LanguageCode">@lang.Name (@lang.Region)</li>
                }
                else
                {
                    <li lang="@lang.LanguageCode">
                        <button formaction="@lang.Url" name="langCode" value="@lang.LanguageCode">@lang.Name (@lang.Region)</button>
                    </li>
                }
            }
        </ul>
    </form>
}

