@model MVC.WebUI.Models.Account.ChangePasswordViewModel
@using MVC.WebUI.Helpers
@using MVC.Core.Configuration

@{
    ViewBag.Title = "Change Password";
}

@Html.Breadcrumb()

<article>
	<h1>Change Password</h1>
	
	@if (ViewBag.DisplaySummary == "yes")
	{
		@Html.ValidationSummary(true)
	}
	
    <form action="@Url.Action("Change-Password")" method="post">
        @Html.AntiForgeryToken()
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { autofocus = "autofocus", required = "required" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { required = "required", pattern = RegularExpressions.PasswordWeak, title = Resources.ValidationErrors.Password })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { required = "required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <button>Change Password</button>
    </form>

</article>
