@model MVC.WebUI.Models.Account.CreateAccountViewModel
@using MVC.Core.Configuration
@{
    ViewBag.Title = "Register";
    ViewBag.PageClass = "account-create";
}

<section>
    <h1>@Resources.FormLabels.CreateAccount</h1>

    <form action="@Url.Action()" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { autocomplete = "off", autofocus = "autofocus", maxlength = "30", pattern = RegularExpressions.UserName, required = "required", title = Resources.ValidationErrorMessages.UserName })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { type = "email", autocomplete = "off", maxlength = "256", required = "required", size = "40" })
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { autocomplete = "off", minlength = "8", pattern = RegularExpressions.PasswordWeak, required = "required", title = Resources.ValidationErrorMessages.Password })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off", minlength = "8", pattern = RegularExpressions.PasswordWeak, required = "required", title = Resources.ValidationErrorMessages.Password })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { autocomplete = "given-name", inputmode = "latin-name", maxlength = "30", minlength = "2", pattern = RegularExpressions.Name, required = "required", title = Resources.ValidationErrorMessages.Name })
                @Html.ValidationMessageFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { autocomplete = "family-name", inputmode = "latin-name", maxlength = "50", minlength = "2", pattern = RegularExpressions.Name, required = "required", title = Resources.ValidationErrorMessages.Name })
                @Html.ValidationMessageFor(m => m.LastName)
            </li>
        </ol>
        <button>@Resources.FormLabels.CreateAccount</button>
    </form>
</section>
